body {
    background-image: url(../images/bg.jpg);
}

@font-face {
    font-family: "myFirstFont";
    src: url("../fonts/UVNDaLat_R.TTF");
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar {
    width: 20%;
}

.content-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.content {
    height: 90%;
    width: 80%;
}

.learning-area {
    height: 80%;
    background-color:white;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.word {
    height: 60%;
    display: flex;
}

.kanji {
    width: 40%;
    height: 100%;
    text-align: center;
    border-right: 1px solid;
    border-color: #4CAF50;
    border-width: 7px;
}

.mean {
    height: 100%;
    width: 60%;
}

.hanviet {
    height: 40%;
    text-align: center;
}

.on-wrapper {
    height: 20%;
}

.kun-wrapper {
    height: 40%;
}

.kun, .on {
    padding-left: 20px;
    font-size: 1.2vw;
}

.example {
    margin-top: 10px;
    height: 70%;
    width: 65%;
    margin: auto;
    font-size: 1.5vw;
    padding: 10px 0px 0px 10px;
    border-top: 2px solid #4CAF50;
}

.control {}

.sidebar ul {
    list-style-type: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar ul li {
    margin-top: 10px;
}

#text {
    font-size: 15vw;
    position: relative;
}

.mm {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5vw;
    font-family: 'myFirstFont';
}

.sign {
  
    text-align: right;
    padding: 30px 30px 0 0 ;
}
a{
    text-decoration-line: none;

}
a:visited{
    color: inherit;
  }
.wrap-control {
    padding: 30px;
    display: flex;
    width: 150px;
    margin: 0 auto;
}

.control-left {
    background-image: url("../images/left-arrow.png");
}

.control-left, .control-right {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    transition: all 0.3s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
}

.control-right {
    background-image: url("../images/right.png");
    margin-left: 30px;
}

.arrow:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.control-left:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.control-right:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}